<div class="sidebar-contents">
  <div class="sidebar-logo is-effort-check">
    <%= link_to projects_path do %>トップ<% end %>
  </div>
  <ul class="sidebar">
    <li class="sidebar-item menu-target"><%= link_to new_project_path do %>目標設定<% end %></li>
    <li class="sidebar-item menu-time"><%=link_to time_path do %>時間入力<% end %></li>
    <li class="sidebar-item menu-result">結果入力</li>
    <li class="sidebar-item menu-review">振り返り</li>
  </ul>
  <div class="sidebar-footer">
    <div class="copyrigth">
      <span>STC合同会社</span>
    </div>
    <div class="footer-contents">
      <a href="#">利用規約</a>
      <br>
      <a href="#">個人情報保護方針</p></a>
    </div>
  </div>  
</div>